*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    
}
header{
    width: 100%;

}
.LISTA {
    display: none; 
    position: absolute; 
    background-color: #444;
    border: 1px solid #333;
    margin-top: 5px;
    z-index: 1; 
    width: 95%;

}

.LISTA ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.LISTA li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    align-items: center;
    font-size: 80%;
    
}
.LISTA li{
    display: inline-block;
    width: 19.7%;
    justify-content: center;
}

.LISTA li a:hover {
    background-color: #666; 
    animation: aparecer 2s infinite;
}


.toggle:checked + label + .LISTA{
    display: block; /* Mostrar cuando el checkbox está marcado */
}


.toggle {
    display: none;
}
@keyframes aparecer{
    from{
        background-color: #444;
    }to{
        background-color: #666;
    }
}
#grillaindexprinc{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grillaindex{
    display: grid;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    grid-column: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "parrafoimagen parrafoimagen imagendelparrafo imagendelparrafo"
    "faunar florar textodeflor textodeflor"
    "faunar florar textodeflor textodeflor"
    "textodeporque textodeporque mapa mapa";
}
#parrafoimagen{
    grid-area: parrafoimagen;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}
#imagendelparrafo{
    grid-area: imagendelparrafo;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}
#faunar{
    grid-area: faunar;
    width: 100%;
    display: flex;
    justify-content: center;

}
#florar{
    grid-area: florar;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}
#textodeflor{
    grid-area: textodeflor;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;
}
#textodeporque{
    grid-area: textodeporque;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;

}
#mapa{
    grid-area: mapa;
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid;

}
.img_carrusel{
    width: 80%;
}

.slider-box{
    width: 100%;
    overflow:hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;

}
.slider-box img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/*parte1*/
.todo{
    width: 100%;
    height: 100%;
}
#buscador{
    padding: 1%
}
.contenedorimagen{
    position: relative;
    width: 100%;
}
#imagen1 {
    width: 100%;
}
#imagen2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    margin-top: 22%;
}
/*segunda parte*/
