*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    
}
header{
    width: 100%;

}
#map {
    width: 100%;
    height: 500px; /* Ajusta la altura según tus necesidades */
    border: 0;
}
.LISTA {
    display: none; 
    position: absolute; 
    background-color: #444;
    border: 1px solid #333;
    margin-top: 5px;
    z-index: 1; 
    width: 95%;

}

.LISTA ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.LISTA li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    align-items: center;
    font-size: 80%;
    
}
.LISTA li{
    display: inline-block;
    width: 19.7%;
    justify-content: center;
}

.LISTA li a:hover {
    background-color: #666; 
    animation: aparecer 2s infinite;
}


.toggle:checked + label + .LISTA{
    display: block; /* Mostrar cuando el checkbox está marcado */
}


.toggle {
    display: none;
}
@keyframes aparecer{
    from{
        background-color: #444;
    }to{
        background-color: #666;
    }
}
#grillaindexprinc{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.grillaindex{
    display: grid;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "parrafoimagen imagendelparrafo  imagendelparrafo"
    "parrafoimagen imagendelparrafo  imagendelparrafo"
    "faunar faunar textodeflor "
    " textodeporque  mapa mapa";
    width: 100%;
    margin: 2%;
}
@media screen and (min-width: 0px) and (max-width: 766px){
    .grillaindex{
        display: grid;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        grid-column: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        "imagendelparrafo imagendelparrafo  imagendelparrafo"
        "parrafoimagen parrafoimagen  parrafoimagen"
        "faunar faunar faunar "
        "textodeflor textodeflor textodeflor "
        " textodeporque  textodeporque textodeporque"
        "mapa mapa mapa ";
        
        width: 100%;
        margin: 2%;
    }
    #grillaindexprinc{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
#parrafoimagen{
    grid-area: parrafoimagen;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    
}
#imagendelparrafo{
    grid-area: imagendelparrafo;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
#faunar{
    grid-area: faunar;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;

}
#textodeflor{
    grid-area: textodeflor;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
#textodeporque{
    grid-area: textodeporque;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
#mapa{
    grid-area: mapa;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_carrusel{
    width: 100%;
    height: 100%;
}

.slider-box{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: slide 20s infinite ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;

}
.slider-box img{
    width: 100%;
    
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/*parte1*/
.todo{
    width: 100%;
    height: 100%;
}
#buscador{
    padding: 1%
}
.contenedorimagen{
    position: relative;
    width: 100%;
}
#imagen1 {
    width: 100%;
}
#imagen2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    margin-top: 22%;
}
/*segunda parte*/

   



.titulofauna{
   
    display: flex;
    justify-content: center;
    font-size: xx-large;
    width: 100%;
    
}

#main__grid{
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    background-color: #A9A9A9;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
        'foto1 foto2 foto3 foto4'
        'foto5 foto6 foto7 foto8' ;

    width: 100%;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
}
@media screen and (min-width: 0px) and (max-width: 766px){
    .grid-container{
        display: grid;
        background-color: #A9A9A9;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'foto1' 
            'foto2' 
            'foto3' 
            'foto4'
            'foto5' 
            'foto6' 
            'foto7' 
            'foto8' ;
    
        width: 100%;
        grid-column-gap: 2px;
        grid-row-gap: 5px;
    }
}

#foto1 img {
    
    grid-area: foto1;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}

#foto1 img:hover{
    filter: brightness(50%);
}
#foto1 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto1:hover h4{
    opacity: 1;
}


#foto2 img{

    grid-area: foto2;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto2 img:hover{
    filter: brightness(50%);
}
#foto2 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto2:hover h4{
    opacity: 1;
}


#foto3 img{
    
    grid-area: foto3;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto3 img:hover{
    filter: brightness(50%);
}
#foto3 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto3:hover h4{
    opacity: 1;
}


#foto4 img{

    grid-area: foto4;
    width: 90%;
    height: 90%;

}
#foto4 img:hover{
    filter: brightness(50%);
}
#foto4 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto4:hover h4{
    opacity: 1;
}


#foto5 img{
   
    grid-area: foto5;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto5 img:hover{
    filter: brightness(50%);
}
#foto5 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto5:hover h4{
    opacity: 1;
}


#foto6 img {
    
    grid-area: foto6;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto6 img:hover{
    filter: brightness(50%);
}
#foto6 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto6:hover h4{
    opacity: 1;
}



#foto7 img{
 
    grid-area: foto7;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto7 img:hover{
    filter: brightness(50%);
}
#foto7 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto7:hover h4{
    opacity: 1;
}



#foto8 img{
    
    grid-area: foto8;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto8 img:hover{
    filter: brightness(50%);
}
#foto8 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto8:hover h4{
    opacity: 1;
}


.fauna{
    display: flex;
    justify-content: center;
    align-items: center;
}   

#parrafo{
    margin: 2%;
    font-size: xx-large;
}

.tituloflora{
   
    display: flex;
    justify-content: center;
    font-size: xx-large;
    width: 100%;
    
}

#contenedor__grid2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-container2{
    display: grid;
    background-color: #A9A9A9;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
        'foto9 foto10 foto11 foto12'
        'foto13 foto14 foto15 foto16' ;
    width: 100%;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
}
@media screen and (min-width: 0px) and (max-width: 766px){
    .grid-container2{
        display: grid;
        background-color: #A9A9A9;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'foto9' 
            'foto10' 
            'foto11' 
            'foto12'
            'foto13' 
            'foto14' 
            'foto15' 
            'foto16' ;
    
        width: 100%;
        grid-column-gap: 2px;
        grid-row-gap: 5px;
    }
}

#foto9 img {
    
    grid-area: foto9;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto9 img:hover{
    filter: brightness(50%);
}
#foto9 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto9:hover h4{
    opacity: 1;
}

#foto10 img{

    grid-area: foto10;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto10 img:hover{
    filter: brightness(50%);
}
#foto10 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto10:hover h4{
    opacity: 1;
}

#foto11 img{
    
    grid-area: foto11;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto11 img:hover{
    filter: brightness(50%);
}

#foto11 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto11:hover h4{
    opacity: 1;
}

#foto12 img{

    grid-area: foto12;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto12 img:hover{
    filter: brightness(50%);
}
#foto12 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto12:hover h4{
    opacity: 1;
}

#foto13 img{
   
    grid-area: foto13;
    width: 90%;
    height: 90%;
    transition: filter 1s;


}
#foto13 img:hover{
    filter: brightness(50%);
}
#foto13 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto13:hover h4{
    opacity: 1;
}


#foto14 img {
    
    grid-area: foto14;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto14 img:hover{
    filter: brightness(50%);
}

#foto14 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto14:hover h4{
    opacity: 1;
}

#foto15 img{
 
    grid-area: foto15;
    width: 90%;
    height: 90%;
    transition: filter 1s;

}
#foto15 img:hover{
    filter: brightness(50%);
}

#foto15 h4{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto15:hover h4{
    opacity: 1;
}

#foto16 img{
    
    grid-area: foto16;
    width: 90%;
    height: 90%;
    transition: filter 1s;
}

#foto16 h4{
    display: flex;
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    opacity: 0;
    transition: all 1s;
    color: white;
}

#foto16:hover h4{
    opacity: 1;
}

#foto16 img:hover{
    filter: brightness(50%);
}

.flora{
    display: flex;
    justify-content: center;
    align-items: center;
    
}   

#parrafo2{
    margin: 1%;
    font-size: xx-large;
}



@media screen and (min-width: 320px) and (max-width: 766px){
    #grid-container{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-areas: 
        'foto1 foto1 foto1 foto1'
        'foto2'
        'foto3'
        'foto4'
        'foto5'
        'foto6'
        'foto7'
        'foto8'
        
    }
}












/*parte1*/
.todo{
    width: 100%;
    height: 100%;
}
#buscador{
    padding: 1%
}
.contenedorimagen{
    position: relative;
    width: 100%;
}
#imagen1 {
    width: 100%;
}
#imagen2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    margin-top: 22%;
}
/*segunda parte*/

#fondo{
    width: 100%;
    position: relative;

}

#imagenactividades{
    width: 100%;
    height: 500px;
    opacity: 0.9;

}

#titulo1{
    font-size-adjust: inherit;
    font-size: 500%;
    color: #000000;
    opacity: 1;
    position: absolute;
    width: 70%;
    overflow: hidden;
}



#contenedortitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    transform: translateY(95%);

}

#gradient{
    width: 100%;
    height: 85%;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -150%);
    animation: mover 3s forwards;
}







.actividadet{
    opacity: 0;
    display: grid;
    background-color: #65736A;
    color: white;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 0px;
    row-gap: 60px;
    grid-column: 1fr 1fr ;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'avest avest'
    'avesd avesf'
    'excursiont excursiont'
    'excursiond excursionf'
    'safarit safarit'
    'safarid safarif'
    'ciclismot ciclismot'
    'ciclismod ciclismof'
    'campamentot campamentot'
    'campamentod campamentof'
    'senderismot senderismot'
    'senderismod serderismof';
}
@media screen and (min-width: 0px) and (max-width: 766px){
    .actividadet{
        display: grid;
    background-color: #613e09;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 0px;
    row-gap: 10px;
    grid-column: 1fr 1fr ;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'avest avest'
    'avesd avesd' 
    'avesf avesf'
    'excursiont excursiont'
    'excursiond excursiond' 
    'excursionf excursionf'
    'safarit safarit'
    'safarid safarid' 
    'safarif safarif'
    'ciclismot ciclismot'
    'ciclismod ciclismod' 
    'ciclismof ciclismof'
    'campamentot campamentot'
    'campamentod campamentod' 
    'campamentof campamentof'
    'senderismot senderismot'
    'senderismod senderismod' 
    'serderismof serderismof';
    }
}

.actividadet:hover{
    opacity: 0;
    transform: translateY(20px); 
    animation: aparecer 4s forwards; 
}

.cont-aves{
    grid-area: avest;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-aves{
    grid-area: avesd;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.cont-imagen-aves{
    grid-area: avesf;
    width: 99%;
    border: solid;
   
}

.cont-excursion{
    grid-area: excursiont;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-excursion{
    grid-area: excursiond;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.cont-imagen-excursion{
    grid-area: excursionf;
    width: 99%;
    border: solid;
}



.cont-safari{
    grid-area: safarit;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-safari{
    grid-area: safarid;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.cont-imagen-safari{
    grid-area: safarif;
    width: 99%;
    border: solid;
}



.cont-ciclismo{
    grid-area: ciclismot;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-ciclismo{
    grid-area: ciclismod;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.cont-imagen-ciclismo{
    grid-area: ciclismof;
    width: 99%;
    border: solid;
}


.cont-titulos-campamento{
    grid-area: campamentot;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-campamento{
    grid-area: campamentod;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.cont-imagen-campamento{
    grid-area: campamentof;
    width: 99%;
    border: solid;
}



.cont-titulos-senderismo{
    grid-area: senderismot;
    width: 99.7%;
    display: flex;
    justify-content: center;
    border: solid;
    transform: translateY(190%);
    background-color: #1E402A;
}

.cont-texto-senderismo{
    grid-area: senderismod;
    width: 100%;
    border: solid;
    background-color: #1E402A;
    display: flex;
    align-items: center; 
    justify-content: center;

}

.cont-imagen-senderismo{
    grid-area: serderismof;
    width: 99%;
    border: solid;

   
}









.gradient-cont{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #ffffff ,#487357);
}



footer{
    background-color: #487357;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-imagen-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-30%);
}


.footer-imagen{
    width: 15%;

}





.copyright{
    text-align: center; 
    margin-top: auto;
}

.botones{
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.lista-footer-div{
    margin-bottom: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #487357;
    
}

.li-footer{
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 120%;

}


.li{
    list-style-type: none;
    padding: 0;
}


.texto-actividades{
    font-size: 200%;
    margin: 15%;
}

@keyframes aparecer {
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}
    
@keyframes mover {
    0% {
        left: 0;
    }
    100%{
        left: 50%;
    }
}














